Repository ukaea/PROCESS, pull requests merged in 2024-05, with the labels that each got.

#3166 3164 updated itpa confinement scalings itpa20
  documentation/proc-pages/physics-models/plasma.md
  process/physics.py
  source/fortran/physics_variables.f90
Labels: Physics

#3173 Added casths_fraction and casths as iteration variables
  source/fortran/iteration_variables.f90
  source/fortran/numerics.f90
Labels: TF Coil

#3195 New plasma doc layout
  documentation/proc-pages/physics-models/plasma.md
  documentation/proc-pages/physics-models/plasma_alpha.md
  documentation/proc-pages/physics-models/plasma_beta.md
  documentation/proc-pages/physics-models/plasma_confinement.md
  documentation/proc-pages/physics-models/plasma_current.md
  documentation/proc-pages/physics-models/plasma_density.md
  documentation/proc-pages/physics-models/plasma_geometry.md
  documentation/proc-pages/physics-models/plasma_overview.md
  documentation/proc-pages/physics-models/plasma_power_balance.md
  documentation/proc-pages/physics-models/plasma_profiles.md
  documentation/proc-pages/physics-models/plasma_radiation_impurities.md
  documentation/proc-pages/physics-models/plasma_reactions.md
  mkdocs.yml
Labels: Documentation

#3171 WIP:Update the heating and current drive docs to include all models
  documentation/proc-pages/eng-models/heating_and_current_drive/NBI/culham_nb.md
  documentation/proc-pages/eng-models/heating_and_current_drive/NBI/iter_nb.md
  documentation/proc-pages/eng-models/heating_and_current_drive/NBI/nbi_overview.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/culham_electron_cyclotron.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/culham_lower_hybrid.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/cutoff_ecrh.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ebw_freethy.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ebw_overview.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ec_overview.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ecrh_gamma.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ehst_lower_hybrid.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/fenstermacher_electron_cyclotron_resonance.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/fenstermacher_lower_hybrid.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ic_model.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/ic_overview.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/lhcd_overview.md
  documentation/proc-pages/eng-models/heating_and_current_drive/RF/rf_overview.md
  documentation/proc-pages/eng-models/heating_and_current_drive/heating-and-current-drive.md
  documentation/proc-pages/eng-models/heating_and_current_drive/images/JET_rf_panel_1984.jpg
  documentation/proc-pages/eng-models/heating_and_current_drive/images/ebw_coupling.png
  documentation/proc-pages/eng-models/heating_and_current_drive/images/portsize.png
  mkdocs.yml
  process/current_drive.py
Labels: Documentation
