Repository ukaea/PROCESS, pull requests merged in 2025-08, with the labels that each got.

#3712 📝 Update machine build documentation and add D-shaped first wall area…
  documentation/proc-pages/eng-models/machine-build.md
  documentation/proc-pages/scripts/plotting_scripts/d_shaped_fw_area.py
  process/blanket_library.py
  process/build.py
  source/fortran/build_variables.f90
Labels: Documentation, Machine Build

#3759 🎨 Add plotting for resistive TF in `plot_proc`
  process/io/plot_proc.py
  process/resistive_tf_coil.py
  process/tf_coil.py
  source/fortran/tfcoil_variables.f90
Labels: Output Files, TF Coil

#3765 3757 🐛 update obsolete flag doesnt work for input variables that are vectors
  process/main.py
Labels: Bug

#3768 Convert build data structure to Python
  CMakeLists.txt
  process/blanket_library.py
  process/build.py
  process/buildings.py
  process/caller.py
  process/constraints.py
  process/costs.py
  process/costs_2015.py
  process/cryostat.py
  process/data_structure/__init__.py
  process/data_structure/build_python_variables.py
  process/data_structure/build_variables.py
  process/dcll.py
  process/divertor.py
  process/fw.py
  process/hcpb.py
  process/ife.py
  process/init.py
  process/input.py
  process/iteration_variables.py
  process/pfcoil.py
  process/physics.py
  process/plasma_geometry.py
  process/power.py
  process/resistive_tf_coil.py
  process/scan.py
  process/stellarator.py
  process/structure.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  process/vacuum.py
  source/fortran/build_variables.f90
  tests/integration/test_blanket_library_int.py
  tests/integration/test_pfcoil_int.py
  tests/unit/test_blanket_library.py
  tests/unit/test_build.py
  tests/unit/test_buildings.py
  tests/unit/test_ccfe_hcpb.py
  tests/unit/test_costs_1990.py
  tests/unit/test_costs_2015.py
  tests/unit/test_cryostat.py
  tests/unit/test_dcll.py
  tests/unit/test_ife.py
  tests/unit/test_pfcoil.py
  tests/unit/test_power.py
  tests/unit/test_resistive_tf_coil.py
  tests/unit/test_sctfcoil.py
  tests/unit/test_stellarator.py
  tests/unit/test_tfcoil.py
Labels: Python conversion

#3754 Convert IFE data structure to Python
  CMakeLists.txt
  process/availability.py
  process/caller.py
  process/costs.py
  process/data_structure/__init__.py
  process/data_structure/ife_variables.py
  process/ife.py
  process/init.py
  process/input.py
  process/iteration_variables.py
  process/output.py
  source/fortran/ife_variables.f90
  tests/unit/test_availability.py
  tests/unit/test_costs_1990.py
  tests/unit/test_ife.py
Labels: Python conversion

#3753 Refactor `blanket_library.py` part 1
  documentation/proc-pages/eng-models/blanket_overview.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/scan_MFILE.DAT
  process/blanket_library.py
  process/data_structure/build_variables.py
  process/dcll.py
  process/fw.py
  process/hcpb.py
  process/stellarator.py
  source/fortran/blanket_library.f90
  source/fortran/fwbs_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/integration/test_blanket_library_int.py
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_blanket_library.py
  tests/unit/test_ccfe_hcpb.py
Labels: Blanket, Refactor, Variable rename

#3715 Investigate fw blkt coverage 2
  documentation/proc-pages/fusion-devices/stellarator.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/scan_MFILE.DAT
  process/blanket_library.py
  process/build.py
  process/data_structure/build_variables.py
  process/dcll.py
  process/fw.py
  process/hcpb.py
  process/input.py
  process/io/obsolete_vars.py
  process/io/sankey_funcs.py
  process/physics.py
  process/stellarator.py
  source/fortran/fwbs_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_blanket_library.py
  tests/unit/test_ccfe_hcpb.py
  tests/unit/test_dcll.py
  tests/unit/test_power.py
  tests/unit/test_stellarator.py
Labels: Bug, Blanket, Refactor

#3762 Refactor `tf_field_and_force`
  documentation/proc-pages/eng-models/tf-coil-superconducting.md
  documentation/proc-pages/eng-models/tf-coil.md
  process/resistive_tf_coil.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  tests/unit/test_tfcoil.py
Labels: Documentation, TF Coil, Refactor, Variable rename

#3786 Convert pfcoil data structure to Python
  CMakeLists.txt
  process/build.py
  process/buildings.py
  process/constraints.py
  process/costs.py
  process/costs_2015.py
  process/cryostat.py
  process/data_structure/__init__.py
  process/data_structure/pfcoil_variables.py
  process/init.py
  process/input.py
  process/iteration_variables.py
  process/pfcoil.py
  process/power.py
  process/pulse.py
  process/resistive_tf_coil.py
  process/scan.py
  process/stellarator.py
  process/structure.py
  process/superconducting_tf_coil.py
  source/fortran/pfcoil.f90
  source/fortran/pfcoil_variables.f90
  tests/integration/test_pfcoil_int.py
  tests/unit/test_buildings.py
  tests/unit/test_costs_1990.py
  tests/unit/test_costs_2015.py
  tests/unit/test_cryostat.py
  tests/unit/test_pfcoil.py
  tests/unit/test_power.py
  tests/unit/test_pulse.py
Labels: Python conversion

#3773 Refactor blanket library 2
  documentation/proc-pages/development/standards.md
  documentation/proc-pages/eng-models/blanket_overview.md
  documentation/proc-pages/eng-models/fw-blanket.md
  documentation/proc-pages/eng-models/power-conversion-and-heat-dissipation-systems.md
  documentation/proc-pages/fusion-devices/stellarator.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/large_tokamak_eval_IN.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  process/blanket_library.py
  process/data_structure/primary_pumping_variables.py
  process/dcll.py
  process/fw.py
  process/hcpb.py
  process/input.py
  process/io/obsolete_vars.py
  process/power.py
  process/stellarator.py
  source/fortran/blanket_library.f90
  source/fortran/fwbs_variables.f90
  source/fortran/heat_transport_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/large_tokamak_eval.IN.DAT
  tests/integration/data/ref_IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/integration/test_blanket_library_int.py
  tests/regression/input_files/helias_5b.IN.DAT
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/regression/input_files/spherical_tokamak_eval.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/regression/input_files/stellarator_helias_eval.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_blanket_library.py
  tests/unit/test_ccfe_hcpb.py
  tests/unit/test_dcll.py
  tests/unit/test_power.py
Labels: Blanket, Refactor, Variable rename

#3780 fix errors in CS pre-compression and radial build output.
  process/build.py
Labels: Bug, Output Files, CS Coil

#3788 Convert constraint variables to Python
  CMakeLists.txt
  process/availability.py
  process/constraints.py
  process/data_structure/__init__.py
  process/data_structure/constraint_variables.py
  process/init.py
  process/input.py
  process/iteration_variables.py
  process/pfcoil.py
  process/physics.py
  process/pulse.py
  process/scan.py
  process/stellarator.py
  process/superconducting_tf_coil.py
  source/fortran/constraint_variables.f90
  tests/unit/test_availability.py
  tests/unit/test_power.py
  tests/unit/test_pulse.py
  tests/unit/test_sctfcoil.py
Labels: Python conversion

#3799 🧲 Refactor `tf_coil_area_and_masses` part 1
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/scan_MFILE.DAT
  process/costs.py
  process/costs_2015.py
  process/cryostat.py
  process/data_structure/tfcoil_variables.py
  process/dcll.py
  process/fw.py
  process/hcpb.py
  process/ife.py
  process/input.py
  process/io/obsolete_vars.py
  process/pfcoil.py
  process/power.py
  process/resistive_tf_coil.py
  process/stellarator.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  source/fortran/constants.f90
  source/fortran/fwbs_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/integration/test_pfcoil_int.py
  tests/regression/input_files/helias_5b.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/regression/input_files/stellarator_helias_eval.IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_ccfe_hcpb.py
  tests/unit/test_costs_1990.py
  tests/unit/test_costs_2015.py
  tests/unit/test_cryostat.py
  tests/unit/test_dcll.py
  tests/unit/test_ife.py
  tests/unit/test_sctfcoil.py
  tests/unit/test_stellarator.py
  tests/unit/test_tfcoil.py
Labels: TF Coil, Refactor, Variable rename
