Repository ukaea/PROCESS, pull requests merged in 2025-09, with the labels that each got.

#3816 Bad use of super
  process/resistive_tf_coil.py
  process/superconducting_tf_coil.py
Labels: Bug, TF Coil

#3817 🎨 Adjust plot annotations and add TF/PF coil power boxes in power flow …
  process/io/plot_proc.py
Labels: Output Files

#3813 💨 Udpdate variable names in `vacuum_variables.py`
  documentation/proc-pages/development/standards.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/scan_MFILE.DAT
  process/availability.py
  process/constraints.py
  process/costs.py
  process/data_structure/physics_variables.py
  process/data_structure/vacuum_variables.py
  process/ife.py
  process/init.py
  process/input.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/physics.py
  process/stellarator.py
  process/vacuum.py
  source/fortran/numerics.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_costs_1990.py
  tests/unit/test_physics.py
  tests/unit/test_vacuum.py
Labels: Variable rename, Vacuum

#3821 :recycle: Refactor current_density_margin function for improved clari…
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/large_tokamak_eval_IN.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  examples/examples.ipynb
  examples/scan.ipynb
  examples/single_model_evaluation.ipynb
  process/availability.py
  process/constraints.py
  process/data_structure/pfcoil_variables.py
  process/data_structure/superconducting_tf_coil_variables.py
  process/data_structure/tfcoil_variables.py
  process/init.py
  process/input.py
  process/io/plot_proc.py
  process/io/plot_radial_build.py
  process/io/plot_scans.py
  process/pfcoil.py
  process/scan.py
  process/superconducting_tf_coil.py
  process/superconductors.py
  process/tf_coil.py
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/large_tokamak_eval.IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/integration/test_pfcoil_int.py
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_availability.py
  tests/unit/test_sctfcoil.py
Labels: TF Coil, Refactor, Variable rename

#3832 Fix link for engineering model paper in publications.md
  documentation/proc-pages/publications.md
Labels: Documentation

#3835 Refactor `protect()` implementation
  documentation/proc-pages/eng-models/vacuum-vessel.md
  documentation/proc-pages/fusion-devices/stellarator.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/large_tokamak_eval_IN.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  process/constraints.py
  process/data_structure/numerics.py
  process/data_structure/tfcoil_variables.py
  process/input.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/iteration_variables.py
  process/stellarator.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/large_tokamak_eval.IN.DAT
  tests/integration/data/ref_IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/regression/input_files/stellarator_helias_eval.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_sctfcoil.py
Labels: TF Coil, Refactor, Variable rename

#3862 🎨 Plot proc cover page
  process/io/plot_proc.py
Labels: Output Files

#3872 Refactor pf coil 3
  process/data_structure/pfcoil_variables.py
  process/input.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/pfcoil.py
  tests/integration/test_pfcoil_int.py
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/test_pfcoil.py
Labels: PF Coils, Refactor, Variable rename
