Repository ukaea/PROCESS, pull requests merged in 2025-07, with the labels that each got.

#3702 `plot_proc` H-factor plot
  documentation/proc-pages/images/plot_proc_8.PNG
  documentation/proc-pages/usage/plotting.md
  process/io/plot_proc.py
Labels: Output Files

#3700 Rename superconducting tf variables 1
  documentation/proc-pages/eng-models/tf-coil.md
  documentation/proc-pages/fusion-devices/stellarator.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/large_tokamak_eval_IN.DAT
  examples/data/large_tokamak_nof_2_MFILE.DAT
  examples/data/large_tokamak_nof_MFILE.DAT
  examples/data/mfile_to_csv_vars.json
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  examples/plot_solutions.ipynb
  process/build.py
  process/init.py
  process/input.py
  process/io/mfile_to_csv_vars.json
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/io/variable_metadata.py
  process/iteration_variables.py
  process/resistive_tf_coil.py
  process/stellarator.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  source/fortran/numerics.f90
  source/fortran/sctfcoil.f90
  source/fortran/tfcoil_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/large_tokamak_eval.IN.DAT
  tests/integration/data/ref_IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/regression/input_files/helias_5b.IN.DAT
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/regression/input_files/spherical_tokamak_eval.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/regression/input_files/stellarator_helias_eval.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_build.py
  tests/unit/test_resistive_tf_coil.py
  tests/unit/test_sctfcoil.py
  tests/unit/test_stellarator.py
  tests/unit/test_tfcoil.py
Labels: TF Coil, Variable rename

#3704 📝 Reconfigure tf docs 1
  documentation/proc-pages/eng-models/tf-coil-resistive.md
  documentation/proc-pages/eng-models/tf-coil-superconducting.md
  documentation/proc-pages/eng-models/tf-coil.md
  mkdocs.yml
Labels: Documentation, TF Coil

#3705 Update `portsz()`
  documentation/proc-pages/eng-models/heating_and_current_drive/NBI/culham_nb.md
  documentation/proc-pages/eng-models/heating_and_current_drive/NBI/iter_nb.md
  documentation/proc-pages/eng-models/heating_and_current_drive/NBI/nbi_overview.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/scan_MFILE.DAT
  process/build.py
  process/caller.py
  process/constraints.py
  process/current_drive.py
  process/input.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/iteration_variables.py
  process/stellarator.py
  process/utilities/errorlist.json
  source/fortran/constraint_variables.f90
  source/fortran/current_drive_variables.f90
  source/fortran/numerics.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_build.py
Labels: Documentation, Variable rename, Neutral Beam

#3710 🐛 Refine vertical build calc
  process/build.py
Labels: Bug, Machine Build

#3698 Refactor TF `supercon`
  process/superconducting_tf_coil.py
  tests/unit/test_sctfcoil.py
Labels: TF Coil, Refactor

#3720 🎨 Full vertical build `plot_proc`
  documentation/proc-pages/images/plot_proc_6.png
  process/io/plot_proc.py
Labels: Output Files

#3724 Tf case geom refactor and docs
  documentation/proc-pages/eng-models/tf-coil-superconducting.md
  documentation/proc-pages/eng-models/tf-coil.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/large_tokamak_eval_IN.DAT
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  process/build.py
  process/init.py
  process/input.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/iteration_variables.py
  process/resistive_tf_coil.py
  process/stellarator.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  source/fortran/numerics.f90
  source/fortran/sctfcoil.f90
  source/fortran/tfcoil_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/large_tokamak_eval.IN.DAT
  tests/integration/data/ref_IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_build.py
  tests/unit/test_resistive_tf_coil.py
  tests/unit/test_sctfcoil.py
  tests/unit/test_tfcoil.py
Labels: Documentation, TF Coil, Variable rename

#3718 📝 Add iteration variables bounds to `plot_proc`
  documentation/proc-pages/images/plot_proc_10.PNG
  documentation/proc-pages/images/plot_proc_11.PNG
  documentation/proc-pages/images/plot_proc_12.PNG
  documentation/proc-pages/images/plot_proc_13.PNG
  documentation/proc-pages/images/plot_proc_14.PNG
  documentation/proc-pages/images/plot_proc_2.PNG
  documentation/proc-pages/images/plot_proc_3.PNG
  documentation/proc-pages/images/plot_proc_4.PNG
  documentation/proc-pages/images/plot_proc_5.PNG
  documentation/proc-pages/images/plot_proc_6.png
  documentation/proc-pages/images/plot_proc_7.PNG
  documentation/proc-pages/images/plot_proc_7.png
  documentation/proc-pages/images/plot_proc_8.PNG
  documentation/proc-pages/images/plot_proc_8.png
  documentation/proc-pages/images/plot_proc_9.PNG
  documentation/proc-pages/io/utilities.md
  documentation/proc-pages/usage/plotting.md
  process/io/plot_proc.py
  process/scan.py
  tests/integration/data/large_tokamak_MFILE.DAT
Labels: Output Files

#3661 TF coil quench protection modifications
  documentation/proc-pages/development/standards.md
  documentation/proc-pages/eng-models/tf-coil-superconducting.md
  documentation/proc-pages/eng-models/tf-coil.md
  process/input.py
  process/quench.py
  process/superconducting_tf_coil.py
  process/tf_coil.py
  source/fortran/constraint_variables.f90
  source/fortran/tfcoil_variables.f90
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_eval.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/unit/test_quench.py
  tests/unit/test_sctfcoil.py
Labels: New feature, TF Coil, Superconductors
