Repository ukaea/PROCESS, pull requests merged in 2025-02, with the labels that each got.

#3522 :bug: Add output parameter to cryostat_output function
  process/build.py
Labels: Bug

#3521 :memo: Enhance documentation on variable naming standards and introdu…
  documentation/proc-pages/development/standards.md
Labels: Documentation

#3493 ⏲️ Update confinement time docs
  documentation/proc-pages/fusion-devices/stellarator.md
  documentation/proc-pages/physics-models/error.txt
  documentation/proc-pages/physics-models/plasma_confinement.md
  documentation/proc-pages/physics-models/plasma_h_mode.md
  documentation/proc-pages/physics-models/plasma_overview.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  mkdocs.yml
  process/confinement_time.py
  process/init.py
  process/io/mfile_comparison.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/io/plot_radial_build.py
  process/io/plot_scans.py
  process/io/variable_metadata.py
  process/output.py
  process/physics.py
  process/power.py
  process/stellarator.py
  process/utilities/errorlist.json
  source/fortran/constraint_equations.f90
  source/fortran/constraint_variables.f90
  source/fortran/input.f90
  source/fortran/iteration_variables.f90
  source/fortran/numerics.f90
  source/fortran/physics.f90
  source/fortran/physics_variables.f90
  source/fortran/scan.f90
  source/fortran/stellarator.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/large_tokamak_once_through.IN.DAT
  tests/integration/data/ref_IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/integration/data/uncertainties_nonopt_ref_IN.DAT
  tests/integration/data/uncertainties_ref_IN.DAT
  tests/integration/ref_dicts.json
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/large_tokamak_nof.IN.DAT
  tests/regression/input_files/large_tokamak_once_through.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/regression/input_files/stellarator.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_confinement_time.py
  tests/unit/test_physics.py
  tests/unit/test_power.py
  tracking/tracking_data.py
Labels: Physics

#3525 Update L-H transition docs
  documentation/proc-pages/physics-models/error.txt
  documentation/proc-pages/physics-models/plasma_h_mode.md
  examples/data/csv_output_large_tokamak_MFILE.DAT
  examples/data/large_tokamak_1_MFILE.DAT
  examples/data/large_tokamak_2_MFILE.DAT
  examples/data/large_tokamak_3_MFILE.DAT
  examples/data/large_tokamak_4_MFILE.DAT
  examples/data/large_tokamak_IN.DAT
  examples/data/scan_MFILE.DAT
  examples/data/scan_example_file_IN.DAT
  mkdocs.yml
  process/init.py
  process/io/obsolete_vars.py
  process/io/plot_proc.py
  process/l_h_transition.py
  process/physics.py
  process/uncertainties/config_evaluate_uncertainties.json
  source/fortran/constraint_equations.f90
  source/fortran/constraint_variables.f90
  source/fortran/input.f90
  source/fortran/iteration_variables.f90
  source/fortran/numerics.f90
  source/fortran/physics_variables.f90
  tests/integration/data/large_tokamak_1_MFILE.DAT
  tests/integration/data/large_tokamak_2_MFILE.DAT
  tests/integration/data/large_tokamak_3_MFILE.DAT
  tests/integration/data/large_tokamak_4_MFILE.DAT
  tests/integration/data/large_tokamak_IN.DAT
  tests/integration/data/large_tokamak_MFILE.DAT
  tests/integration/data/ref_IN.DAT
  tests/integration/data/scan_2D_MFILE.DAT
  tests/integration/data/scan_MFILE.DAT
  tests/integration/data/uncertainties_nonopt_ref_IN.DAT
  tests/integration/data/uncertainties_ref_IN.DAT
  tests/integration/ref_dicts.json
  tests/regression/input_files/large_tokamak.IN.DAT
  tests/regression/input_files/st_regression.IN.DAT
  tests/unit/data/large_tokamak_IN.DAT
  tests/unit/data/large_tokamak_MFILE.DAT
  tests/unit/test_l_h_transition.py
Labels: Documentation, L-H transition

#3549 3548 implement variable dt ratio
  documentation/proc-pages/physics-models/fusion_reactions/plasma_reactions.md
  source/fortran/constraint_equations.f90
  source/fortran/iteration_variables.f90
  source/fortran/numerics.f90
  tests/unit/test_power.py
  tests/unit/test_pulse.py
Labels: Physics
